{% extends 'RASPRaspBundle:User:layout.html.twig' %}
{% block meta_info %}
<title>Profil utilisateur</title>
<link rel="stylesheet" type="text/css" href="{{ asset('css/user.css') }}" />
{% endblock %}


{% block content %}
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-6"> Champ </th>
                    <th class="col-md-6"> Valeur </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-6"> Utilisateur </td>
                    <td class="col-md-6"> {% if user.enabled %} actif {% else %} inactif {% endif %} </td>
                </tr>
                <tr>
                    <td class="col-md-6"> ID </td>
                    <td class="col-md-6"> {{ user.id }} </td>
                </tr>
                <tr>
                    <td class="col-md-6"> Nom </td>
                    <td class="col-md-6"> {{ user.username }} </td>
                </tr>
                <tr>
                    <td class="col-md-6"> Email </td>
                    <td class="col-md-6"> {{ user.email }} </td>
                </tr>
                <tr>
                    <td class="col-md-6"> Statut </td>
                    <td class="col-md-6"> {{ user.status }} </td>
                </tr>
                <tr>
                    <td class="col-md-6"> Grade </td>
                    <td class="col-md-6"> {{ user.rank }} </td>
                </tr>
                <tr>
                    <td class="col-md-6"> UFR </td>
                    <td class="col-md-6"> <a href="{{ path('admin_showUfr', {'ufr_id' : user.ufr.id}) }}">{{ user.ufr }}</a> </td>
                </tr>

            </tbody>

        </table>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">


                <form class="user-form" method="get" action="{{ path('admin_editUser', {'user_id': user.id} ) }}">
                    <button class="btn btn-default">Éditer</button>
                </form>

                <form class="user-form" method="get" action="{{ path('fos_user_change_password') }}">
                    <button class="btn btn-default btn-success">Changer de mot de passe</button>
                </form>



            </div>
            <div class="col-sm-4">
                {% if is_granted('ROLE_ADMIN') %}
                    <form class="user-form" method="get" action="{{ path('admin_toggleUser', {'user_id' : user.id}) }}">
                        {% if user.enabled %}
                            <button class="btn btn-warning">
                                Désactiver
                            </button>
                        {% else %}
                            <button class="btn btn-success">
                                Activer
                            </button>
                        {% endif %}
                    </form>
                    {% if not user.hasRole('ROLE_ADMIN') %}
                    <form class="user-form" method="get" action="{{ path('admin_deleteuser', {'user_id' : user.id})  }}">
                        <button class="btn btn-warning"> Supprimer </button>
                    </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

